.chatContainer{
	display: flex;
	justufy-content: flex-start;
}
h5, p{
	margin: 0px;
	padding: 5px;
}
p.action{
	display: inline-block;
	font-size: 13px;
	color: grey;
	font-weight: bold;
	padding-top: 0px; 
}
img{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	position: relative;
	top: 4px;
}
img.small{
	width: 40px;
	height: 40px;
	top: 14px;
}
img.arrow{
	display: inline-block;
	top: 6px;
	padding: 3px;
	width: 15px;
	height: 15px;
}