-
	var commentsTree = 
		[
		   {
		   	 userPic: "https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png",
		     userName: "DinosaurFaceOverlord",
		     message: "THERE CHEERS FOR BERT! \n HIP HIP....",
		     date: "14 days ago",
		     children: [
		       {
		       	 userPic: "https://www.atomix.com.au/media/2015/06/atomix_user31.png",
		         userName: "stetsonaw",
		         message: "JORGE!",
		         date: "14 days ago"
		       },
		       {
		       	 userPic: "https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-256.png",
		         userName: "katkelly57",
		         message: "I read that as 3 cheers for beer...hooray!",
		         date: "14 days ago",
		         children: [
		           {
		           	 userPic: "https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png",
		             userName: "DinosaurFaceOverlord",
		             message: "That too!",
		             date: "14 days ago"
		           }
		         ]
		       },
		       {
		       	 userPic: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt6uh88PUrYZ3y4JJ2HuEuPT534d99bJvTcDEzvTT2h_VVcf2YSw",
		         userName: "Well Meaning",
		         message: "hurrah?",
		         date: "14 days ago"
		       }
		     ]
		   },
		   {
		   	 userPic: "http://www.iconhot.com/icon/png/glossy/512/user-male-3.png",
		     userName: "AlfondoGonz",
		     message: "We all know the most interesting thing that happened in the Bleacher Nation commentary #CouchGate",
		     date: "14 days ago"
		   },
		   {
		   	 userPic: "https://cdn4.iconfinder.com/data/icons/people-std-pack/512/boss-512.png",
		     userName: "ShadrachSmith",
		     message: "Go Cubbies...this is the year",
		     date: "14 days ago"
		   }
		];